{
  "Parameters":{
    "tiffBucket":"xyz",
    "CorsAllowCredentials":"false",
    "CorsAllowHeaders":"*",
    "CorsAllowOrigin":"*",
    "CorsExposeHeaders":"cache-control,content-language,content-length,content-type,date,expires,last-modified,pragma",
    "CorsMaxAge":"3600",
    "ForceHost":"",
    "IiifLambdaMemory":"10000",
    "IiifLambdaTimeout":"20",
    "PixelDensity":"0",
    "Preflight":"false",
    "ResolverTemplate":"%s.tif",
    "SharpLayer":"INTERNAL",
	"devEnv":"false"
  }
}
